

.row.border-bottom.border-dark.bg-danger.toDo
    .col-sm-2.text-dark
        p #{val.user}
        p #{val.title}
        p #{val.state}
        p #{date}
    .col-sm-9.text-dark.d-flex.justify-content-center.flex-column
        //- p #{moment(val.creation_date).format()};
        H5.text-center #{val.content}
    .col-sm-1.text-dark.d-flex.justify-content-center.flex-column
        .buttondiv.d-flex.justify-content-end.align-items-center
            button(type="button" class="btn btn-success btn-sm undone" style="margin-right: 15%" data-id="#{val._id}" data-state="#{val.state}" value="undone")
                i.fas.fa-check
            button(type="button" class="btn btn-danger btn-sm border-dark delete" data-id="#{val._id}")
                i.fas.fa-trash
