


//- - function prettyDate(dateString){
//-     //if it's already a date object and not a string you don't need this line:
//-     - var date = dateString;
//-     - var d = date.getDate();
//-     - var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
//-     - "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
//-     - var m = monthNames[date.getMonth()];
//-     - var y = date.getFullYear();
//-     - return d+' '+m+' '+y;
//- -}

if val.state == false 
    .row.border-bottom.border-dark.bg-light.toDo
        .col-sm-2.text-dark
            p #{val.user}
            p #{val.title}
            p #{val.state}
            p #{moment(val.creation_date).format("DD MMMM")}    
            // p #{prettyDate(val.creation_date)}
        .col-sm-9.text-dark.d-flex.justify-content-center.flex-column
            H5.text-center #{val.content}
        .col-sm-1.text-dark.d-flex.justify-content-center.flex-column
            .buttondiv.d-flex.justify-content-end.align-items-center
                button(type="button" class="btn btn-light btn-sm done text-light border-dark done" style="margin-right: 15%" data-id="#{val._id}" data-state="#{val.state}") 
                    i.fas.fa-check
                button(type="button" class="btn btn-danger btn-sm delete" data-id="#{val._id}")
                    i.fas.fa-trash
else
    .row.border-bottom.border-dark.bg-danger.toDo
        .col-sm-2.text-dark
            p #{val.user}
            p #{val.title}
            p #{val.state}
            p #{moment(val.creation_date).format("DD MMMM")}
            //p #{prettyDate(val.creation_date)}
        .col-sm-9.text-dark.d-flex.justify-content-center.flex-column
            //- p #{moment(val.creation_date).format()};
            H5.text-center #{val.content}
        .col-sm-1.text-dark.d-flex.justify-content-center.flex-column
            .buttondiv.d-flex.justify-content-end.align-items-center
                button(type="button" class="btn btn-success btn-sm undone" style="margin-right: 15%" data-id="#{val._id}" data-state="#{val.state}" value="undone")
                    i.fas.fa-check
                button(type="button" class="btn btn-danger btn-sm border-dark delete" data-id="#{val._id}")
                    i.fas.fa-trash
    //- else
    //-     .row.border-bottom.border-dark.bg-danger.toDo
    //-       .col-sm-2.text-dark
    //-         p #{val.user}
    //-         p #{val.title}
    //-         p #{date}
    //-       .col-sm-9.text-dark.d-flex.justify-content-center.flex-column
    //-         //- p #{moment(val.creation_date).format()};
    //-         H5.text-center #{val.content}
    //-       .col-sm-1.text-dark.d-flex.justify-content-center.flex-column
    //-         .buttondiv.d-flex.justify-content-end.align-items-center
    //-           button(type="button" class="btn btn-success btn-sm undone" style="margin-right: 15%" data-id="#{val._id}" data-state="#{val.state}" value="undone")
    //-             i.fas.fa-check
    //-           button(type="button" class="btn btn-danger btn-sm border-dark delete" data-id="#{val._id}")
    //-             i.fas.fa-trash
    //- .row.border-bottom.border-dark.bg-light
    //-   .col-sm-2.text-dark.d-flex.justify-content-center.flex-column
    //-         input(type="text", name="title", placeholder="title", value="title")
    //-       .col-sm-9.text-dark.d-flex.justify-content-center.flex-column
    //-         //- p #{moment(val.creation_date).format()};
    //-         input(type="text", class="text-center", name="content", placeholder="content", value="content") 
    //-       .col-sm-1.text-dark.d-flex.justify-content-center.flex-column
    //-         .buttondiv.d-flex.justify-content-end.align-items-center
    //-           button(type="button" class="btn btn-light m-0 addNew" style="margin-right: 15%", data-user="#{user}")
    //-             i.fas.fa-plus
    //-           p.text-center.m-0 Add new